{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2 d-flex flex-column align-items-center position-relative">
            <img class="img-fluid rounded-3" src="{{ asset('build/images/870x489_gettyimages.jpg') }}" alt="">
            <div class="card shadow position-absolute top-0 bg-white bg-opacity-90" style="margin-top: 50px; width: 80%">
                <div class="card-body text-center">
                    <h5 class="card-title ">Bienvenue amapien·ne !</h5>
                    <p class="card-text">Cet espace est réservé aux adhérents de l'Amap de Messac.</p>
                    <a class="btn btn-primary" href="{{ path('login') }}">Se connecter</a>
                    <a class="btn btn-primary" href="{{ path('app_register') }}">Créer un compte</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
