{% extends 'layout/card-center.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
    <p>
        Si un compte correspond à l'adresse e-mail, alors un message vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courriers indésirables (spam) ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
