{% extends 'layout/card-center.html.twig' %}

{% block title %}Mot de passe envoyé{% endblock %}

{% block content %}
    <p>
        Lien de réinitialisation envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courriers indésirables (spam) ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
