.navbar,
.navbar-toggler {
  color: color-contrast($primary);
}
.navbar-toggler {
  border: 1px solid rgba(color-contrast($primary), .55);
  font-size: 1.5rem;
}
.nav-link {
  position: relative;
  text-transform: uppercase;
  color: rgba(color-contrast($primary), .55);
  @include media-breakpoint-down(lg) {
    padding-left: .75rem !important;
  }
  &:hover {
    color: rgba(color-contrast($primary), .7);
  }
  &.active,
  &.show{
    color: rgba(color-contrast($primary), 1);
  }
  &:hover:not(.dropdown-toggle),
  &.active {
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: $nav-link-padding-x/2;
      right: $nav-link-padding-x/2;
      @include media-breakpoint-up(lg) {
        border-bottom: 3px solid;
      }
      @include media-breakpoint-down(lg) {
        top: $nav-link-padding-y/2;
        bottom: $nav-link-padding-y/2;
        left: 0;
        right: auto;
        border-left: 3px solid;
      }
    }
  }
}
