//https://coolors.co/f2af0d-7c9880-95775c-7e3700-6a7480
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-base: 'Poppins';
$green: #608766;
$primary: #795d3b;
$info: #6A7480;
