//https://coolors.co/f2af0d-7c9880-95775c-7e3700-6a7480-1a3b5a-d04904
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-base: 'Poppins', sans-serif;
$green: #608766;
$primary: #d04904;
$info: #6A7480;

$line-height-base: 2;
