<footer class="p-2 bg-light mt-auto">
    <div class="container">
        © {{ 'now'|date("Y") }} |
{#        crédits photos : <a href="https://pixabay.com/" target="_blank">pixabay</a>#}
        <a href="{{ path('admin_home_index') }}" target="_blank" data-no-swup="">admin</a>
    </div>
</footer>
