<footer class="p-2 bg-light mt-auto">
    <div class="container ">
        <span class="me-auto">© {{ 'now'|date("Y") }} Amap de Messac</span>
        | crédits photos <a href="https://pixabay.com/fr/photos/des-l%c3%a9gumes-corbeille-752153/" target="_blank">pixabay</a>
    </div>
</footer>
