<footer class="p-2 bg-light mt-auto">
    <div class="container d-flex justify-content-center">
        <span class="me-auto">© {{ 'now'|date("Y") }} Amap de Messac</span>
{#        <div><a href="#">crédits</a> | mentions légales</div>#}
    </div>
</footer>
