{% extends 'layout/card-center.html.twig' %}

{% block content %}
    <div class="bg-image" style="background-image: url('{{ asset('build/images/404-error-6333061.jpg') }}')"></div>
    <h1 class="text-center">
        Oops ! C'est la 404...
    </h1>
    <p class="fs-3 text-center">
        Cette page a été déplacée ou peut-être n'a t-elle jamais existé.
    </p>
{% endblock %}
